doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title jalofernández
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='img/dist/favicon/favicon.ico')
    //- Custom Styles
    link(rel='stylesheet', type='text/css', href='css/dist/style.css')
    //- Modernizr javascript
    script(src='js/dist/modernizr.custom.js')
  body
    .container
      #bl-main.bl-main
        //-
          /////////////////////////////////////////////////////////////////
          1 - FIRST BLOCK :: ABOUT ME (es) Primer cuadro :: sobre mí
          /////////////////////////////////////////////////////////////////////
        section.section-one
          .bl-box.bl-white
            img.logointro(src='img/dist/logos/jalofernandez-logo.svg', alt='Logotipo de Jalofernandez', title='Logotipo de Jalofernandez')
            h2.main-title jalofernández
            h1 all graphics, websites & beyond!
          .bl-content
            h2 Sobre mi:
            p
              span Diseñador gráfico
              | , 
              span desarrollador textil
              | , 
              span fotógrafo
              |  y 
              span webmaster
              |  a tiempo completo en Madrid, España. Me entusiasma el diseño preciosista y llamativo pero siempre claro, amigable y práctico.
            article
              h3
                i.fa.fa-flag
                | Identidad corporativa:
              p
                | Diseño la identidad de su marca bajo una personalidad propia, moderna y visualmente atractiva.
            article
              h3
                i.fa.fa-pencil
                | Diseño gráfico:
              p
                | Creación de piezas con un toque distintivo, artístico y práctico. Abarco el diseño publicitario, editorial, recreativo...
            article
              h3
                i.fa.fa-print
                | Impresión:
              p
                | La mejor calidad de impresión en tus proyectos de pequeño, mediano y gran formato como papelería corporativa, tarjetas de visita, cartelería, folletos...
            article
              h3
                i.fa.fa-globe
                | Diseño web:
              p
                | Tus proyectos online bajo una perspectiva moderna, atractiva y fácil de usar con las mejores optimizaciones de velocidad y posicionamiento (SEO).
            article
              h3
                i.fa.fa-share-alt
                | Community manager:
              p
                | Manejo de las redes sociales como medio indispensable para potenciar tu marca y sus productos en la red.
            article
              h3
                i.fa.fa-envelope-o
                | Emailing:
              p
                | Rapidez, eficacia y seguridad a la hora de mandar tus avisos y promociones via email.
            article
              h3
                i.fa.fa-film
                | Edición de vídeo:
              p
                | Grabación y postproducción de sus proyectos videográficos ya sean para el mercado doméstico u online.
            article
              h3
                i.fa.fa-camera-retro
                | Fotografía:
              p
                | La mejor calidad en tus proyectos fotográficos ya sean publicitarios o de branding.
            .clearfix
            .logo-block
                img.logointro(src='img/dist/logos/jalofernandez-logo.svg', alt='Logotipo de Jalofernandez', title='Logotipo de Jalofernandez')
                p Diseño y programación
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //-
          /////////////////////////////////////////////////////////////////
          2 - SECOND BLOCK :: SERVICES (es) Segundo cuadro :: Servicios
          /////////////////////////////////////////////////////////////////////
        section.section-two
          .bl-box
            h2
              i.fa.fa-magic
              span.subtext mis
              | HABILIDADES
          .bl-content
            h2 Mis Hablilidades
            article
              h3
                i.fa.fa-file-image-o
                | Grafismos:
              p
                | Photoshop, Illustrator, Freehand, Pixelmator...
            article
              h3
                i.fa.fa-object-group
                | Maquetación:
              p
                | InDesign, QuarkXpress
            article
              h3
                i.fa.fa-camera
                | Fotografía:
              p
                | Fotógrafo con equipo profesional propio y experiencia demostrable con book.
            article
              h3
                i.fa.fa-video-camera
                | Vídeo:
              p
                | Premiere Pro, Final Cut, After Effects, Blender.
            article
              h3
                i.fa.fa-code
                | Programación:
              p
                i.fa.fa-html5
                | HTML5
              p
                i.fa.fa-css3
                | CSS3
              p
                i.fa.fa-file-code-o
                | JavaScript
              p
                i.fa.fa-git
                | Git, Subversion (control versiones)
              p
                i.fa.fa-hashtag
                | Gulp (task runner), Bower, node (package manager)
            article
              h3
                i.fa.fa-envelope-o
                | Entornos:
              p
                i.fa.fa-apple
                | Mac OS / iOS
              p
                i.fa.fa-windows
                | Windows
              p
                i.fa.fa-android
                | Android
              p
                i.fa.fa-linux
                | Ubuntu (Linux)
            .clearfix
            .logo-block
                img.logointro(src='img/dist/logos/jalofernandez-logo.svg', alt='Logotipo de Jalofernandez', title='Logotipo de Jalofernandez')
                p Diseño y programación
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //-
          /////////////////////////////////////////////////////////////////
          3 - THIRT BLOCK :: PORTFOLIO (es) Tercer cuadro :: Portafolio
          /////////////////////////////////////////////////////////////////////
        section(id='bl-work-section section-three')
          .bl-box
            h2
              i.fa.fa-briefcase
              span.subtext algunos de mis
              | PROYECTOS
          .bl-content
            h2 Portafolio de Proyectos
            p Aquí te presentamos algunos de nuestros diseños e ideas de decoración:
            ul#bl-work-items
              //- TEXTILE
              li(data-panel='panel-3')
                a(href='#', title='')
                  img(src='img/dist/textiles/1.png', alt='')
              //- DRAWS (sketch, comic...)
              li(data-panel='panel-5')
                a(href='#', title='')
                  img(src='img/dist/draws/60.jpg', alt='')
              //- PHOTOS    
              li(data-panel='panel-4')
                a(href='#', title='')
                  img(src='img/dist/photos/1.jpg', alt='')
              //- ARTS (graphics & logos)
              li(data-panel='panel-1')
                a(href='#', title='')
                  img(src='img/dist/arts/1.png', alt='')
              //- BUSINESS CARDS
              li(data-panel='panel-6')
                a(href='#', title='')
                  img(src='img/dist/bcards/9.png', alt='')
              //- FLYERS    
              li(data-panel='panel-7')
                a(href='#', title='')
                  img(src='img/dist/flyers/5.png', alt='')
              //- LABELS    
              li(data-panel='panel-8')
                a(href='#', title='')
                  img(src='img/dist/labels/21.png', alt='')
              //- LAYOUT    
              li(data-panel='panel-9')
                a(href='#', title='')
                  img(src='img/dist/layout/1.png', alt='')
              //- MERCHANDISING (packaging)
              li(data-panel='panel-2')
                a(href='#', title='')
                  img(src='img/dist/merchan/17.png', alt='')
              //- WEBSITES
              li(data-panel='panel-2')
                a(href='#', title='')
                  img(src='img/dist/merchan/17.png', alt='')
              //- VÍDEO
              li(data-panel='panel-2')
                a(href='#', title='')
                  img(src='img/dist/merchan/17.png', alt='')
            .logo-block
                img.logointro(src='img/dist/logos/jalofernandez-logo.svg', alt='Logotipo de Jalofernandez', title='Logotipo de Jalofernandez')
                p Diseño y programación
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //-
          /////////////////////////////////////////////////////////////////
          4 - FOURTH BLOCK :: CONTACT (es) Cuarto cuadro :: Contacto
          /////////////////////////////////////////////////////////////////////
        section.section-four
          .bl-box
            h2
              i.fa.fa-paper-plane-o
              span.subtext EN
              | CONTACTO
          .bl-content
            h2 En Contacto
            p.italic Javier Lorenzo Fernández
            p Madrid, Spain
            p.contact-phone
              a(href='tel:696682791', title='Llamar a Jalofernandez') (+0034) 696 682 791
            p
              a(href='https://www.facebook.com/jalofernandez?ref=tn_tnmn', target="_blank", title='Ir al perfil de Facebook de Jalofernandez')
                i.fa.fa-facebook
              a(href='http://instagram.com/jalofernandez?ref=badge', target="_blank", title='Ir al perfil de Instagram de Jalofernandez')
                i.fa.fa-instagram
              a(href='https://twitter.com/jalofernandez', target="_blank", title='Ir al perfil de Twitter de Jalofernandez')
                i.fa.fa-twitter
              a(href='http://es.linkedin.com/in/javierlorenzofernandez', target="_blank", title='Ir al perfil de LinkedIn de Jalofernandez')
                i.fa.fa-linkedin
              a(href='https://github.com/jalofernandez', target="_blank", title='Ir al perfil de GitHub de Jalofernandez')
                i.fa.fa-github
              a(href='mailto:jalofernandez@gmail.com', title='Escribir email a Jalofernandez')
                i.fa.fa-envelope-o
            img.logointro(src='img/dist/logos/jalofernandez-logo.svg', alt='Logotipo de Jalofernandez', title='Logotipo de Jalofernandez')
            p Diseño y programación
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //-
          /////////////////////////////////////////////////////////////////
          00 - ALL PANEL ITEMS FOR PORTFOLIO (es) desplegables del portafolio
          /////////////////////////////////////////////////////////////////////
        #bl-panel-work-items.bl-panel-items
          //- Panel items 1 :: Logotypes & Corporative works in Portfolio Section
          div(data-panel='panel-1')
            div
              h3 Logotipos e imagen corporativa:
              p ...
              .clearfix
              img(src='img/dist/arts/1.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/2.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/3.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/4.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/5.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/6.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/7.jpg', alt='Fotografía de animalicos')
              img(src='img/dist/arts/8.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/9.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/10.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/11.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/12.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/13.png', alt='Fotografía de animalicos')
              img(src='img/dist/arts/14.png', alt='Fotografía de animalicos')
              .clearfix
          //- Panel items 2 :: Merchandising & Packaging works in Portfolio Section
          div(data-panel='panel-2')
            div
              h3 Merchandising & Packaging
              p Cambio de imagen con muy poco presupuesto...
              .clearfix
              img(src='img/dist/merchan/17.png', alt='')
              img(src='img/dist/merchan/18.png', alt='')
              img(src='img/dist/merchan/19.png', alt='')
              .clearfix
          //- Panel items 3 :: Textile works in Portfolio Section
          div(data-panel='panel-3')
            div
              h3 Diseños textiles:
              p Diseños textiles realizados para las marcas internacionales Rusty y British Knights entre 2005 y 2011.
              .clearfix
              img(src='img/dist/textiles/1.png', alt='')
              img(src='img/dist/textiles/2.png', alt='')
              img(src='img/dist/textiles/3.png', alt='')
              img(src='img/dist/textiles/4.png', alt='')
              img(src='img/dist/textiles/5.png', alt='')
              img(src='img/dist/textiles/6.png', alt='')
              .clearfix
          //- Panel items 4 :: Photography works in Portfolio Section
          div(data-panel='panel-4')
            div
              h3 Fotografía profesional:
              p Fotografía de producto, localizaciones y/o moda.
              .clearfix
              img(src='img/dist/photos/1.jpg', alt='Fotografía de animalicos')
              img(src='img/dist/photos/2.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/3.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/4.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/5.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/6.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/7.jpg', alt='Fotografía de animalicos')
              img(src='img/dist/photos/8.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/9.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/10.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/11.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/12.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/13.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/14.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/15.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/16.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/17.png', alt='Fotografía de animalicos')
              img(src='img/dist/photos/18.jpg', alt='Fotografía de animalicos')
              img(src='img/dist/photos/51.jpg', alt='Fotografía de animalicos')
              .clearfix
          //- Panel items 5 :: Draws & handly artworks in Portfolio Section
          div(data-panel='panel-5')
            div
              h3 Dibujos y artes:
              p Ilustración a mano alzada, bocateje, comic, storyboards...
              .clearfix
              img(src='img/dist/draws/60.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/61.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/62.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/63.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/64.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/65.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/66.jpg', alt='Fotografía de animalicos')
              img(src='img/dist/draws/67.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/68.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/69.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/70.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/71.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/72.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/73.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/74.png', alt='Fotografía de animalicos')
              img(src='img/dist/draws/75.png', alt='Fotografía de animalicos')
              .clearfix
          //- Panel items 6 :: Business Cards works in Portfolio Section
          div(data-panel='panel-6')
            div
              h3 Tarjetas de visita:
              p Diseños textiles realizados para las marcas internacionales Rusty y British Knights entre 2005 y 2011.
              .clearfix
              img(src='img/dist/bcards/9.png', alt='')
              img(src='img/dist/bcards/10.png', alt='')
              img(src='img/dist/bcards/11.png', alt='')
              img(src='img/dist/bcards/12.png', alt='')
              img(src='img/dist/bcards/20.png', alt='')
              img(src='img/dist/bcards/29.png', alt='')
              .clearfix
          //- Panel items 7 :: Business Cards works in Portfolio Section
          div(data-panel='panel-7')
            div
              h3 Flyers y cartelería:
              p Diseños offset...
              .clearfix
              img(src='img/dist/flyers/5.png', alt='')
              img(src='img/dist/flyers/6.png', alt='')
              img(src='img/dist/flyers/7.png', alt='')
              img(src='img/dist/flyers/8.png', alt='')
              img(src='img/dist/flyers/30.png', alt='')
              img(src='img/dist/flyers/31.png', alt='')
              .clearfix
          //- Panel items 8 :: Business Cards works in Portfolio Section
          div(data-panel='panel-8')
            div
              h3 Etiquetas:
              p Diseños textiles...
              .clearfix
              img(src='img/dist/labels/21.png', alt='')
              img(src='img/dist/labels/22.png', alt='')
              img(src='img/dist/labels/24.png', alt='')
              .clearfix
          //- Panel items 9 :: Business Cards works in Portfolio Section
          div(data-panel='panel-9')
            div
              h3 Cartelería y maquetaciones:
              p Maquetación, diseño editorial...
              .clearfix
              img(src='img/dist/layout/1.png', alt='')
              img(src='img/dist/layout/2.png', alt='')
              img(src='img/dist/layout/3.png', alt='')
              img(src='img/dist/layout/4.png', alt='')
              img(src='img/dist/layout/13.png', alt='')
              img(src='img/dist/layout/14.png', alt='')
              img(src='img/dist/layout/15.png', alt='')
              img(src='img/dist/layout/16.png', alt='')
              img(src='img/dist/layout/23.png', alt='')
              img(src='img/dist/layout/30.png', alt='')
              img(src='img/dist/layout/40.png', alt='')
              img(src='img/dist/layout/41.png', alt='')
              img(src='img/dist/layout/42.png', alt='')
              img(src='img/dist/layout/43.png', alt='')
              .clearfix
          //- Navigation Controls
          nav
            span.bl-next-work > Siguiente
            span.bl-icon.bl-icon-close
              i.fa.fa-close
        //- /.bl-panel-items
      //- /.bl-main
    //- /.container
    //- Javascript jQuery
    script(src='js/dist/jquery.min.js')
    //- Javascripts concat & min
    script(src='js/dist/scripts-min.js')
    script.
      $(function() {
        Boxlayout.init();
      });