doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title jalofernández
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='img/dist/favicon/favicon.ico')
    // Custom Styles
    link(rel='stylesheet', type='text/css', href='css/dist/style.css')
    // Font Awesome styles
    link(rel='stylesheet', type='text/css', href='css/dist/font-awesome.css')
    script(src='js/dist/modernizr.custom.js')
  body
    .container
      #bl-main.bl-main
        //
          /////////////////////////////////////////////////////////////////
          1 - PRIMER CUADRO :: SOBRE MI
          /////////////////////////////////////////////////////////////////////
        section.section-one
          .bl-box.bl-white
            //
              <img class="main-pic" src="img/sources/dino.png" alt="Logotipo de jalofernandez Designs & Websites"/>
            h2.main-title jalofernández
            h1 all graphics, websites & beyond!
          .bl-content
            h2 Sobre mi:
            p
              span Diseñador gráfico
              | , 
              span desarrollador textil
              | , 
              span fotógrafo
              |  y 
              span webmaster
              |  a tiempo completo en Madrid, España. Me entusiasma el diseño preciosista y llamativo pero siempre claro, amigable y práctico.
            p
              | Para conocer mejor mi experiencia profesional y mis conocimientos técnicos aquí tienes mi 
              span Curriculum Vitae
              | :
            //
              <br/>Puedes seguir mis trabajos y publicaciones en <a href="" title="Ir al perfil de Facebook de Very very Designs"><i class="icon-facebook3"></i></a> <a href="" title="Ir al perfil de Instagram de Very very Designs"><i class="icon-instagram3"></i></a> <a href="" title="Ir al perfil de Pinterest de Very very Designs"><i class="icon-pinterest"></i></a>
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //
          /////////////////////////////////////////////////////////////////
          2 - TERCER CUADRO :: MIS SERVICIOS
          /////////////////////////////////////////////////////////////////////
        section.section-two
          .bl-box
            h2
              i.fa.fa-magic
              span.subtext mis
              |  HABILIDADES
          .bl-content
            h2 Mis Hablilidades
            article
              h3
                i.fa.fa-flag
                |  IDENTIDAD CORPORATIVA:
              p
                | Diseño la identidad de su marca bajo una personalidad propia, moderna y visualmente atractiva.
            article
              h3
                i.fa.fa-pencil
                |  DISEÑO GRÁFICO:
              p
                | Creación de piezas con un toque distintivo, artístico y práctico. Abarco el diseño publicitario, editorial, recreativo...
            article
              h3
                i.fa.fa-print
                |  IMPRESIÓN:
              p
                | La mejor calidad de impresión en tus proyectos de pequeño, mediano y gran formato como papelería corporativa, tarjetas de visita, cartelería, folletos...
            article
              h3
                i.fa.fa-globe
                |  DISEÑO WEB:
              p
                | Tus proyectos online bajo una perspectiva moderna, atractiva y fácil de usar con las mejores optimizaciones de velocidad y posicionamiento (SEO).
            article
              h3
                i.fa.fa-share-alt
                |  COMUNITY MANAGER:
              p
                | Manejo de las redes sociales como medio indispensable para potenciar tu marca y sus productos en la red.
            article
              h3
                i.fa.fa-envelope-o
                |  EMAILING:
              p
                | Rapidez, eficacia y seguridad a la hora de mandar tus avisos y promociones via email.
            article
              h3
                i.fa.fa-film
                |  EDICIÓN de VIDEO:
              p
                | Grabación y postproducción de sus proyectos videográficos ya sean para el mercado doméstico u online.
            article
              h3
                i.fa.fa-camera-retro
                |  FOTOGRAFÍA:
              p
                | La mejor calidad en tus proyectos fotográficos ya sean publicitarios o de branding.    
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //
          /////////////////////////////////////////////////////////////////
          3 - TRABAJOS CUADRO :: MIS SERVICIOS
          /////////////////////////////////////////////////////////////////////
        section(id='bl-work-section section-three')
          .bl-box
            h2
              i.fa.fa-briefcase
              span.subtext algunos de mis
              |  PROYECTOS
          .bl-content.turquesa
            h2 Portafolio de Proyectos
            p Aquí te presentamos algunos de nuestros diseños e ideas de decoración:
            ul#bl-work-items
              li(data-panel='panel-1')
                a(href='#', title='')
                  img(src='images/1.jpg', alt='')
              li(data-panel='panel-2')
                a(href='#', title='')
                  img(src='images/2.jpg', alt='')
              li(data-panel='panel-3')
                a(href='#', title='')
                  img(src='images/3.jpg', alt='')
              li(data-panel='panel-4')
                a(href='#', title='')
                  img(src='images/4.jpg', alt='')
              li(data-panel='panel-3')
                a(href='#', title='')
                  img(src='images/3.jpg', alt='')
              li(data-panel='panel-4')
                a(href='#', title='')
                  img(src='images/4.jpg', alt='')
              li(data-panel='panel-1')
                a(href='#', title='')
                  img(src='images/1.jpg', alt='')
              li(data-panel='panel-2')
                a(href='#', title='')
                  img(src='images/2.jpg', alt='')
            img.logointro(src='images/veryverydesign2.png', alt='Logotipo de Very Very Designs')
            p Diseño y programación
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //
          /////////////////////////////////////////////////////////////////
          4 - CUARTO CUADRO :: CONTACTO
          /////////////////////////////////////////////////////////////////////
        section.section-four
          .bl-box
            h2
              i.fa.fa-paper-plane-o
              span.subtext EN
              |  CONTACTO
          .bl-content.turquesa
            h2 En Contacto
            p Javier Lorenzo Fernández
            p Madrid, Spain
            p
              a(href='tel:696682791', title='Llamar a Jalofernandez')
                i.fa.fa-phone
                |  (+0034) 696 682 791
            p
              a(href='https://www.facebook.com/jalofernandez?ref=tn_tnmn', target="_blank", title='Ir al perfil de Facebook de Jalofernandez')
                i.fa.fa-facebook
              a(href='http://instagram.com/jalofernandez?ref=badge', target="_blank", title='Ir al perfil de Instagram de Jalofernandez')
                i.fa.fa-instagram
              a(href='https://twitter.com/jalofernandez', target="_blank", title='Ir al perfil de Twitter de Jalofernandez')
                i.fa.fa-twitter
              a(href='http://es.linkedin.com/in/javierlorenzofernandez', target="_blank", title='Ir al perfil de LinkedIn de Jalofernandez')
                i.fa.fa-linkedin
              a(href='https://github.com/jalofernandez', target="_blank", title='Ir al perfil de GitHub de Jalofernandez')
                i.fa.fa-github
              a(href='mailto:jalofernandez@gmail.com', title='Escribir email a Jalofernandez')
                i.fa.fa-envelope-o
            img.logointro(src='images/veryverydesign2.png', alt='Logotipo de Very Very Designs')
            p Diseño y programación
          span.bl-icon.bl-icon-close
            i.fa.fa-close
        //
          /////////////////////////////////////////////////////////////////
          00 - DESPLEGABLES de WORKS :: Panel items for the works
          /////////////////////////////////////////////////////////////////////
        #bl-panel-work-items.bl-panel-items
          // Panel items 1 :: WORKS
          div(data-panel='panel-1')
            div
              img(src='images/1.jpg', alt='')
              img(src='images/1.jpg', alt='')
              img(src='images/1.jpg', alt='')
              h3 Diseño de jardín:
              p
                | Para salvar el desnivel existente entre la cota de terraza y la de la piscina, se diseñó un banco corrido a lo largo del jardín, dando uso de bancada por el lado de la piscina.
          // /.panel-1
          // Panel items 2 :: WORKS
          div(data-panel='panel-2')
            div
              img(src='images/2.jpg', alt='')
              img(src='images/2.jpg', alt='')
              img(src='images/2.jpg', alt='')
              h3 Restaurante Fredy's
              p
                | Cambio de imagen con muy poco presupuesto y manteniendo el mobiliario existente. Se consiguió solucionar el problema del ruido instalando un friso de madera perimetral a media altura, y pallets de obra pintados en diferentes colores.
          // /.panel-2
          // Panel items 3 :: WORKS
          div(data-panel='panel-3')
            div
              img(src='img/dist/textiles/1.png', alt='')
              img(src='img/dist/textiles/2.png', alt='')
              img(src='img/dist/textiles/3.png', alt='')
              img(src='img/dist/textiles/4.png', alt='')
              img(src='img/dist/textiles/5.png', alt='')
              img(src='img/dist/textiles/6.png', alt='')
              h3 Chalet en Majadahonda
              p
                | Se realizó una labor de interiorismo modificando y retapizando algunos muebles de los propietarios y adquiriendo otros nuevos.
          // /.panel-3
          // Panel items 4 :: WORKS
          div(data-panel='panel-4')
            div
              img(src='images/4.jpg', alt='')
              img(src='images/4.jpg', alt='')
              img(src='images/4.jpg', alt='')
              h3 Reforma de vivienda en Pozuelo
              p Reforma integral en unifamiliar.
          // /.panel-4
          nav
            span.bl-next-work > Siguiente
            span.bl-icon.bl-icon-close
              i.fa.fa-close
        // /.bl-panel-items
      // /.bl-main
    // /.container
    // Javascript jQuery
    script(src='js/dist/jquery.min.js')
    // Javascripts concat & min
    script(src='js/dist/scripts-min.js')
    script.
      $(function() {
      Boxlayout.init();
      });