@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot');
	src:url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/icomoon.woff') format('woff'),
		url('../../fonts/icomoon.ttf') format('truetype'),
		url('../../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Raleway', Verdana, Geneva, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: #0ec2a1;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

/* --- CUSTOM :: STYLES -------------------------------- */

p {color: #fff;}

.subtext {
    font-family: 'Handlee', verdana, sans-serif;
    font-size: 1.2em;
    letter-spacing: .01em;
    text-transform: lowercase;
}

.logointro {
    max-width: 216px;
    height: auto;
    margin-top: 50px;
}

/* --- Article :: Works :: details --- */
.bl-content article h3 {
    color:#0ec2a1;
}

.bl-content article p {
    color:#0ec2a1;
}

/* --- DEFAULT :: STYLES -------------------------------- */

.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
    background-image: url(../../img/dist/bg/main-bg.jpg);
}

.bl-main > section {
	position: absolute;
	width: 100%;
}

.bl-main > section:first-child {
    height: 34%;
	top: 0;
	left: 0;
	/* background:rgba(14,194,161,0.95); */
}

.bl-main > section:nth-child(2) {
    height: 22%;
	top: 34%;
	left: 0;
	/* background:rgba(162,240,226,0.95); */
}

.bl-main > section:nth-child(3) {
    height: 22%;
	top: 56%;
	left: 0;
	/* background:rgba(224,248,244,0.95); */
}

.bl-main > section:nth-child(4) {
    height: 22%;
	top: 78%;
	left: 0;
	/* background:rgba(255,255,255,0.95); */
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
    font-family: Impact, Charcoal, sans-serif;
	margin: 0;
	padding: 20px;
	width: 100%;
    text-align: center;
    color: #cab68e; /* main Beige color */
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-shadow: 0 1px #000,
                1px 0 #000,
                -1px 0 #000,
                0 -1px #000,
                -1px -1px #000,
                1px 1px #000,
                1px -1px #000,
                -1px 1px #000;
}

.bl-white h2 {color:#fff;}

/*
.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 1.8em;
	margin-bottom: 15px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-portfolio:before {
	content: "\e7f9";
}

.bl-icon-lightbulb:before {
	content: "\e7c8";
}

.bl-icon-envelope2:before {
	content: "\e7e4";
}
*/

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e6fd";
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

/* CONTENIDO DE LAS SECCIONES TRAS EL DESPLEGABLE */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}
.bl-content p span {
	color: #cab68e; /* main Beige color */
    text-shadow: 0 1px #000, 1px 0 #000, -1px 0 #000, 0 -1px #000, -1px -1px #000, 1px 1px #000, 1px -1px #000, -1px 1px #000;
}
.turquesa p {
	color:#0ec2a1;
}

.bl-content h2 {
    font-family: 'Handlee', verdana, sans-serif;
    letter-spacing: .01em;
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid #fff;
	margin: 0 0 20px 0;
}
.turquesa h2 {
	color:#0ec2a1;
    border-bottom: 1px solid #0ec2a1;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content i {
	color: #fff;
    font-size: 1.4em;
    padding: 0 5px;
}
.turquesa i {
	color:#0ec2a1;
}

.turquesa span {
	color:#0ec2a1;
}

.bl-content p a:hover {
	color: #333;
    -moz-transition: all 500ms ease-in;
     -webkit-transition: all 500ms ease-in;
      -o-transition: all 500ms ease-in;
         transition: all 500ms ease-in;
}

.icon-facebook3:before {
	content: "\e76b";
}
.icon-pinterest:before {
	content: "\e7a6";
}
.icon-instagram3:before {
	content: "\e94f";
}


.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* --- GALERÃA DE TRABAJOS :: WORKS :: Panel Items --- */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 80%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
    width: 250px;
    height: 250px;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #cab68e; /* main Beige color */
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

.bl-panel-items img {
    cursor: pointer;
    /*
    border: 5px solid #fff; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    */
}

.bl-panel-items img:hover {
    /*
    position: absolute;
    top: 20%;
    z-index: 2000;
    -ms-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
    */
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	/* background:rgba(14,194,161,0.95); */
}
.bl-main > section:nth-child(2).bl-expand {
	/* background:rgba(162,240,226,0.95); */
}
.bl-main > section:nth-child(3).bl-expand {
	/* background:rgba(162,240,226,0.95); */
}
.bl-main > section:nth-child(4).bl-expand {
	/* background:rgba(255,255,255,0.95); */
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2,
.no-touch section:not(.bl-expand) .bl-box:hover h1 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}