/* ... VARIABLES ... */
/* @main-color: #cab68e;  main Beige color */
/* @second-color: #333; secondary Beige color */
/* @main-text: @white;  white color */
/* main Orange almost Black color */
/* Flame Orange secondary color */
/* main Brown almost Black color */
/* Medium Orange third color */
/* --- common FONTS -------------------------------- */
@import "font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand|Raleway:400,600,700');
.hand {
  font-family: 'Parisienne', cursive;
}
.upper {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
}
.text {
  font-family: 'Quicksand', sans-serif;
}
/* --- common MIXINS -------------------------------- */
.text-block {
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 25px;
}
.anim-150 {
  -moz-transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.italic {
  font-style: italic;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --- common BODY -------------------------------- */
body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', Verdana, Geneva, sans-serif;
  color: #f2ede3;
  background: #333;
  font-size: 0.9em;
  font-weight: 300;
}
/* --- CUSTOM SCROLL BAR -------------------------------- */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #f35e1a;
  border: 0px none #fff;
  border-radius: 10px;
}
/* --- TEXT SELECTOR -------------------------------- */
::-webkit-selection {
  background-color: #f35e1a;
  color: #1e0a02;
  text-shadow: none;
}
::-moz-selection {
  background-color: #f35e1a;
  color: #1e0a02;
  text-shadow: none;
}
::selection {
  background-color: #f35e1a;
  color: #1e0a02;
  text-shadow: none;
}
/* --- common LINKS -------------------------------- */
a {
  color: #0ec2a1;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%;
}
a:hover {
  color: #fff;
}
/* --- CUSTOM :: STYLES -------------------------------- */
p {
  color: #fff;
}
.subtext {
  padding-right: 10px;
  font-family: 'Parisienne', cursive;
  color: #1e0a02;
  font-size: 1.2em;
  letter-spacing: .01em;
  text-transform: lowercase;
}
.logointro {
  max-width: 100px;
  height: auto;
  margin-top: 50px;
}
.logointro + p,
.logotext {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  font-size: 20px !important;
  color: #1e0a02 !important;
  letter-spacing: .01em !important;
}
/* --- common CONTAINER - MAIN FRAME -------------------------------- */
.container {
  height: 100%;
}
.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf7ec+0,ffffff+100 
    background: #fcf7ec;
    background: -moz-linear-gradient(top,  #fcf7ec 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #fcf7ec 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #fcf7ec 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf7ec', endColorstr='#ffffff',GradientType=0 );
    // background-image: url(../../img/dist/bg/main-bg.jpg);
    */
  background-color: #fff;
  background-image: linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}
.bl-main > section {
  position: absolute;
  width: 100%;
}
.bl-main > section:first-child {
  height: 34%;
  top: 0;
  left: 0;
  /* background:rgba(14,194,161,0.95); */
}
.bl-main > section:nth-child(2) {
  height: 22%;
  top: 34%;
  left: 0;
  /* background:rgba(162,240,226,0.95); */
}
.bl-main > section:nth-child(3) {
  height: 22%;
  top: 56%;
  left: 0;
  /* background:rgba(224,248,244,0.95); */
}
.bl-main > section:nth-child(4) {
  height: 22%;
  top: 78%;
  left: 0;
  /* background:rgba(255,255,255,0.95); */
}
.bl-main > section .bl-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  font-size: 50px;
  -moz-transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.bl-main > section .bl-icon-close:hover {
  color: #f35e1a;
  -moz-transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
@media all and (min-width: 768px) {
  .bl-main {
    background-image: linear-gradient(90deg, transparent 79px, #f9ad8b 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  }
}
.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bl-box h2 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #f35e1a;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.bl-box h2 i {
  display: block;
  margin-bottom: 20px;
  color: #f35e1a;
  font-size: 40px;
  opacity: .5;
}
.bl-white h2 {
  color: #1e0a02;
}
/* --- common CONTENT for All views -------------------------------- */
.bl-content,
div.bl-panel-items > div > div {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
}
.bl-content h2 {
  font-family: 'Parisienne', cursive;
  font-size: 2.8em;
  letter-spacing: .01em;
  font-weight: 300;
  color: #1e0a02;
  text-align: center;
  line-height: 65px;
  margin: 0 0 15px 0;
}
.bl-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  color: #1e0a02;
  font-size: 1.7em;
  line-height: 1.8;
}
.bl-content p span {
  color: #f68b5b;
}
.bl-content p a,
.bl-content p a i {
  color: #f35e1a;
}
.bl-content p a:hover,
.bl-content p a i:hover {
  color: #1e0a02;
  -moz-transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.bl-content p.contact-phone {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 400;
}
.bl-content p.contact-phone a {
  color: #f35e1a;
  font-size: 22px;
  font-weight: 400;
}
.bl-content p.contact-phone a:hover,
.bl-content p.contact-phone a:focus,
.bl-content p.contact-phone a:active {
  color: #1e0a02;
}
.bl-content p.contact-socialmedia a,
.bl-content p.contact-socialmedia a i {
  color: #f35e1a;
}
.bl-content p.contact-socialmedia a:hover,
.bl-content p.contact-socialmedia a i:hover,
.bl-content p.contact-socialmedia a:focus,
.bl-content p.contact-socialmedia a i:focus,
.bl-content p.contact-socialmedia a:active,
.bl-content p.contact-socialmedia a i:active {
  color: #1e0a02;
}
.bl-content i {
  color: #f68b5b;
  font-size: 35px;
  padding: 0 5px;
}
.bl-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bl-content > ul li {
  display: inline-block;
  width: 30%;
  margin: 1%;
}
.bl-content > ul li a {
  display: block;
  padding: 0;
}
.bl-content > ul li a img {
  display: block;
  max-width: 100%;
}
.bl-content article {
  padding: 10px 40px 10px 0px;
}
.bl-content article h3 {
  margin: 0 0 10px 0;
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f68b5b;
}
.bl-content article h3 i {
  font-size: 1em;
}
.bl-content article h3 a {
  color: rgba(0, 0, 0, 0.2);
}
.bl-content article p {
  padding-left: 35px;
  color: #111;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 25px;
}
.bl-content article p i {
  font-size: 20px;
  padding-right: 12px;
}
.bl-content .logo-block {
  width: 100%;
  text-align: center;
}
@media all and (min-width: 768px) {
  .bl-content,
  div.bl-panel-items > div > div {
    left: 90px;
  }
}
/* --- common SubSECTION "PORTFOLIO" - "WORKS" -------------------------------- */
div.bl-panel-items {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 9999;
}
div.bl-panel-items > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #1e0a02;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
}
div.bl-panel-items > div > div {
  width: 90%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}
div.bl-panel-items > div > div h3 {
  font-family: 'Parisienne', cursive;
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px 0;
  text-align: center;
  padding-bottom: 10px;
}
div.bl-panel-items > div > div p {
  color: #fff;
  padding-top: 10px;
  font-size: 1.3em;
  text-align: center;
}
div.bl-panel-items > div > div img {
  float: left;
  margin: 1%;
  max-width: 100%;
  width: 30%;
  height: auto;
}
div.bl-panel-items > div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
}
div.bl-panel-items > div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0;
}
div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0px;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}
div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}
div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px;
}
div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px;
}
.bl-panel-items img {
  cursor: pointer;
  /*
        border: 5px solid #fff; 
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        */
}
.bl-panel-items img:hover {
  /*
            position: absolute;
            top: 20%;
            z-index: 2000;
            -ms-transform: scale(2,2);
            -webkit-transform: scale(2,2);
            transform: scale(2,2);
            */
}
/* Transition classes and properties */
/* Separated for a better overview and control */
.bl-main > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bl-main > section.bl-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bl-main > section.bl-expand-top {
  z-index: 100;
}
.bl-main > section:first-child.bl-expand {
  /* background:rgba(14,194,161,0.95); */
}
.bl-main > section:nth-child(2).bl-expand {
  /* background:rgba(162,240,226,0.95); */
}
.bl-main > section:nth-child(3).bl-expand {
  /* background:rgba(162,240,226,0.95); */
}
.bl-main > section:nth-child(4).bl-expand {
  /* background:rgba(255,255,255,0.95); */
}
.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.bl-box {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}
.bl-box h1 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  margin-top: 0;
  color: #1e0a02;
  font-size: 33px;
  letter-spacing: 0.03em;
  position: relative;
  bottom: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bl-box h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bl-box h2.main-title {
  font-size: 3.5em;
  letter-spacing: 0.01em;
  padding-bottom: 0;
}
.bl-box h2.main-title span {
  color: #f68b5b;
}
section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}
.no-touch section:not(.bl-expand) .bl-box:hover h1,
.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}
.bl-content,
.bl-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}
.main-pic {
  width: 200px;
  height: 190px;
}
/* --- "CONTACT" block SECTION -------------------------------- */
section.section-four .bl-content {
  text-align: center;
}
/* --- common MEDIA QUERIES -------------------------------- */
@media screen and (max-width: 46.5em) {
  .bl-content,
  .bl-box {
    font-size: 75%;
  }
  .bl-expand .bl-box {
    height: 130px;
  }
  .bl-content > ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 4%;
  }
}
@media screen and (min-width: 768px) {
  .bl-box h2.main-title {
    font-size: 70px;
    padding-top: 0;
  }
  .bl-main > section:hover {
    background-color: rgba(255, 255, 255, 0.07);
  }
  /* ... "Sobre Mi" & "Mis Habilidades" Sections ... */
  section.section-one .bl-content article,
  section.section-two .bl-content article {
    display: inline-block;
    width: 48%;
    overflow: auto;
  }
  section.section-one .bl-content article:nth-child(even),
  section.section-two .bl-content article:nth-child(even) {
    float: left;
  }
  section.section-one .bl-content article:nth-child(odd),
  section.section-two .bl-content article:nth-child(odd) {
    float: right;
  }
  section.section-one .bl-content article {
    min-height: 180px;
  }
  section.section-two .bl-content article {
    min-height: 145px;
  }
}
@media screen and (max-width: 768px) {
  .bl-box h1 {
    font-size: 16px;
    bottom: 35px;
  }
}
@media screen and (max-width: 599px) {
  .logointro {
    margin-top: 20px;
  }
  .bl-content,
  div.bl-panel-items > div > div {
    top: 40px;
    left: 15px;
    right: 15px;
    bottom: 30px;
    padding: 0 15px;
  }
  .bl-icon-close {
    top: 10px;
  }
  .bl-box h1 {
    font-size: 16px;
    bottom: 20px;
  }
  .bl-box h2 i {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .bl-box h2.main-title {
    padding-top: 0;
  }
}
@media screen and (max-height: 780px) {
  .bl-box h1 {
    bottom: 12px;
  }
}
